@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

img {
    display: block;
    width: 100%;
}

ul{
    list-style: none;
}

button {
    display: block;
    border: none;
    outline: none;
}

.App{
    width: 100%;
    min-height: 100vh;
    background-image: url('/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #fff9;
    padding: 1.5em;
    border-radius: 0.7em;
    max-width: 400px;
    width: 100%;
}

.card__title{
    text-align: center;
    font-size: 1.8rem;
}

.card__subtitle{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.card__body{
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    gap: 0.5em;
}

.card__info-title{
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.card__info-body{
    display: grid;
    gap: 0.5em;
}

.card__info-item{
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: 500;
}

.card__info-label{
    font-weight: 300;
}

.card__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__temperature{
    margin-bottom: 0.7em;
}

.card__btn{
    font-size: 0.9rem;
    padding: 0.7em 1.5em;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em 0.5em #000a;
    cursor: pointer;
    transition: filter 100ms ease, trnasform 100ms ease;
}

.card__btn:hover{
    filter: opacity(0.8);
    transform: scale(1.05);
}
